<!DOCTYPE html>
<html>
<head>
  <title>ScenesterPhilly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>

  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <%= link_to 'SCENESTER', root_path, class: "navbar-brand scenester" %>
    <%= link_to 'Philly', root_path, class: "navbar-brand philly" %>
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%- if current_user -%>
            <%= @user.display_name %>
             <%- else -%>
               Account
           <%- end -%>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <%- if current_user -%>
           <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
           <%- else -%>
           <%= link_to 'Sign Up', new_user_registration_path, class: "dropdown-item" %>
           <%= link_to 'Sign In', new_user_session_path, class: "dropdown-item" %>
           <%- end -%>
         </div>
       </li>
     </ul>
   </div>
 </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
